./venv/*
train_test_split/*
error_data/*
develop/*
app/__pycache__/*
helper/__pycache__/*
./app/__pycache__/*
app/routers/__pycache__/*
./app/routers/__pycache__/*
core/*
test_deploy/*
tensorboard/*
totorial/*
db/*
data_origin/*
data_copy/*
actions/price/__pycache_*
data/
venv/*
audio_pre_proccess/*
__pycache__/*
**/*.md
